.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.main {
  background-color: #778da9;
  height: 80%;
  width: 50%;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.kana {
  font-size: 100px;
}

.textContainer {
  text-align: center;
}

.text {
  font-size: 24px;
  padding: 6px;
}
